/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  background-color: #eb9486;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #272838;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #7e7f9a;
  color: #f9f8f8;
  text-align: center;
}
